* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* loc-1*/
.loc-1{
    color: #cccccc;
    font-size: 0.85rem;
}

/*loc-2*/
.loc-2{
    font-size: 1rem;
}